* {
  margin: 0;
  padding: 0;
}

body {
  background-color: gray;
  font-family: 'Handlee', cursive;
}

.hello {
  margin-left: 400px;
  margin-top: 200px;
  box-shadow: 0 0 10px 10px black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 35vw;
  padding: 15px;
  background-color: rgba(255, 0, 0, 0.464);
}

.score {
  color: white;
  position: relative;
  top: 0;
  left: 175px;
  font-weight: bold;
  margin-left: 200px;
}

h2 {
  font-size: 40px;
  margin: 10px;
  color: rgb(255, 242, 0);
  font-weight: bold;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  height: 40px;
  width: 92%;
  font-size: 30px;
  border-radius: 20px;
  padding-left: 10px;
  margin: 10px;
}

.input:hover {
  outline: none;
}


button {
  height: 50px;
  border: none;
  width: 92%;
  font-size: 30px;
  font-weight: bold;
  border-radius: 20px;
  background-color: blue;
  color: white;
  cursor: pointer;
  margin: 10px;
}

.btn:hover {
  filter: brightness(2);
}
